<nav class="navbar bg-success">
  <div class="container-fluid">
    <span class="navbar-text-DANGER">
      @SUNNY'S BANK PVT LIMITED
    </span>
    <H4>GIVING YOU THE SECURITY AND ASSURING FREEDOM</H4>
  </div>
</nav>
<div class="position-absolute top-50 start-50">
  <div class="card w-100">
    <div class="card-body">
      <h5 class="card-title">LOGIN</h5>
      <form>
        <input [(ngModel)]="account" name="acno" type="text" placeholder="enter account number">
        <br><br>
        <input [(ngModel)]="password" name="password" type="password" placeholder="enter your password">
      </form>
      <br>
      <a (click)="login()" routerLink="dashbord" class="btn btn-primary">Button</a>
    </div>
  </div>